.fadder {
  opacity: 0.0;
  transition: opacity .5s ease-in;
  -moz-transition: opacity .5s ease-in;
  -webkit-transition: opacity .5s ease-in;
}

.container {
  width: 800px;
  margin-left:auto;
  margin-right:auto;
}

html {
  height: 100%;
}

body {
  background: #777;
  margin: 0;
  width: 100%;
  height: 100%;
}

header {
  display: inline-block;
  width: 100%;
  padding-top: 20px;
}

header img {
  background: #fff;
  width: 20%;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

/* Section Title */
section h1 {
  font-family: Georgia;
  font-size: 200%;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  text-shadow: 1px -1px #cccccc;
}

li {
  list-style-type: none;
}

.separator {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.image-project-cover {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 80px;
}

/* Project Accordion */

#accordion-projects {
}

    /* header */
.ui-accordion .ui-accordion-header {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  max-height: 100px;
}

.project-detailimg div {
  text-align: center;
}

.project-detailimg img {
  width: 100%;
}

    /* content */
.ui-accordion .ui-accordion-content {
  overflow:auto;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  border-top: 1px solid #e0cfc2;
}

/* Liens */

a {
  color: #7f5b33;
  text-decoration: none;
}

a:hover {
  color: #7f5b33;
  text-decoration: underline;
}

a:visited {
  color: #7f5b33;
}

a:link {
  color: #7f5b33;
}

/* Musics */

.music_title {
  font-family: Impact;
  color: black;
}

.music_p {
  margin-top: 8px;
  margin-bottom: 5px;
}

.music {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #f4f0ec;
  border: 1px solid #e0cfc2;
}

/* Skills */

.skillsgrid {
  display: inline-block;
}

.skillsgridItem {

}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 1em;
  white-space: nowrap;
}

.header {
  padding: 1em 0em 1em 0em;
  width: 79%;
  margin-top: 30px;
  text-align: center;
}

.footer {
  padding: 0.5em;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  border: 1px solid black;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #FFDAB2;
}

nav ul li a {
  padding: 0 15px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #7F5B33;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Bouton inscription/sign in */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 10px;
}

a.signin_button {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #3064AA;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Coins arrondis */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Footer */

footer {
  text-align: center;
  margin-top: 10px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

/* Error message */
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* All Users */
ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

/* My PDF CV Displayer */

#myCVview {
  width: 100%;
  height: 1050px;
  overflow:hidden;
  margin-top: 20px;
}