<% if object.errors.any? %>
  <div class="ui-state-error ui-corner-all" style="padding: 0 .9em;">
    <h2><%= pluralize(object.errors.count, "error") %> 
        prohibited this <%= object.class.to_s.underscore.humanize.downcase %> 
        from being saved:</h2>
    <p>There were problems with the following fields:</p>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em; margin-top: .2em"></span></li>
    <% end %>
    </ul>
  </div>
<% end %>