<%= render 'pages/viewchange' %>
<%= image_tag "/images/separator1.png", :class => "separator" %>
<br/>
<p>
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspI'm a foreign student from the Epitech school in France. I'm actually doing a fifth year IT expertise. For my fourth year, I had to choose a foreign university around the world. So, I choose Manipal university, here in India.
</p>
<p>
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspThe first semester, I took class because the MIT forced me to take it. With my french school, I'm wasn't used to class anymore, because we do only big or miscro projects. This semester  was really hard for me, because of the language (english), that i learnt from now, and also some lessons basics that I didn't had.
</p>
<p>
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspThat's why, this semester I choose to make the project. So I asked directors if It will be possible, and they agreed. Because I had choice of my subject, I choose to make a personnal project for my future. I thought about a website that can be given to a company in addition to a curriculum vitae (CV). In that way, companies can know et check what I can do in website, and they will also know all my computer science skills (that will be also in the website).
</p>
<br/>