<%= render 'pages/viewchange' %>
<%= image_tag "/images/separator4.png", :class => "separator" %>
<p> Voici ma page présentant ma manière de vivre, musique, voyages...</p>
<p>Design color pattern<p>
<p><a href="https://kuler.adobe.com/create/color-wheel/?base=2&rule=Compound&selected=0&name=My%20Kuler%20Theme&mode=rgb&rgbvalues=0.23137254901960785,0.1843137254901961,0.13333333333333333,0.6,0.4272000000000753,0.24,1,0.2283333333336941,0,0.25,1,0.5823450134776067,0.07999999999999999,0.8,0.195277628032527&swatchOrder=0,1,2,3,4">Compunded1</a>
</p>
<p><a href="https://kuler.adobe.com/create/color-wheel/?base=2&rule=Complementary&selected=0&name=My%20Kuler%20Theme&mode=rgb&rgbvalues=0.23137254901960785,0.1843137254901961,0.13333333333333333,1,0.5680000000001882,0.09999999999999998,1,0.5200000000002092,0,0,0.5098245614034113,0.7,0,0.7283208020048733,1&swatchOrder=0,1,2,3,4">Complementary1</a>
</p>
<p><a href="https://kuler.adobe.com/create/color-wheel/?base=2&rule=Shades&selected=0&name=My%20Kuler%20Theme&mode=rgb&rgbvalues=0.23137254901960785,0.1843137254901961,0.13333333333333333,0.5,0.398305084745807,0.288135593220339,1,0.796610169491614,0.576271186440678,0.25,0.1991525423729035,0.1440677966101695,0.9,0.7169491525424526,0.5186440677966102&swatchOrder=0,1,2,3,4">Shades</a>
</p>