<footer>
  <nav class="round footer">
    <ul>
      <li><%= link_to "About me", about_path, :onclick => "UIstartAnimation()" %></li>
      <li><%= link_to "Curriculum Vitae", cv_path, :onclick => "UIstartAnimation()" %></li>
      <li><%= link_to "Contact me", contacts_path, :onclick => "UIstartAnimation()" %></li>
    </ul>
  </nav>
</footer>